# Thursday: Variables and Built-in-Scalar-Types
- Data Types

<center>**Python Scalar Types**</center>

| Type        | Example        | Description                                                  |
|-------------|----------------|--------------------------------------------------------------|
| ``NoneType``| ``x = None``   | Special object indicating nulls                              |
| ``bool``    | ``x = True``   | Boolean: True/False values                                   |
| ``int``     | ``x = 1``      | integers (i.e., whole numbers)                               |
| ``float``   | ``x = 1.0``    | floating-point numbers (i.e., real numbers)                  |
| ``str``     | ``x = 'abc'``  | String: characters or text                                   |

# Using function type() to inquire for the type of the variable!

# NoneType

- None is the value a function returns when there is no return statement in the function

In [2]:
#print("Hello world")
A = print("Hello world")
type(A)

Hello world

NoneType

- None also often used as default parameters.

In [15]:
z = None
print(not z)
type(z)

True

NoneType

# Bool Type: all about True of False!

In [11]:
print(2 < 5)

True

In [14]:
result = (2 < 5)
print(result)
type(result)

True

bool

Q: What is type for A = print( 2 > 5 )?

In [18]:
# Consider the following command
result = (1 + 1 == 2)
print(result)
type(result)
type(print(result))

True
True

NoneType

bool() is a function to return true or false!
bool() always returns true unless:
- The object is empty, like [], (), {}
- The object is False
- The object is 0
- The object is None

In [4]:
#print(bool(1))
#print(bool(6.0))
#print(bool(0))
#print(bool(0.0))
#print(bool(None))
print(bool("None"))
bool("1 < 2")

True

True

# Integer and float: int() and float() 
- Integer: any number without a decimal point 
- Float: any number with a decimal point

In [31]:
x = 1
type(x)

int

In [32]:
# For true division
x = 1
y = 2
z = x / y
print(z)
type(z)

0.5

float

In [33]:
# floor division
x = 1
y = 2
z = x//y
print(z) 
type(z)

0

int

Q: Will this code chunk result in True or False?

In [4]:
x = 0.1
y = 1e-01 # scientific notation
print(x == y)

True

In [5]:
# But let's see it a bit closer
print("{0:.17f}".format(x))
print("{0:.17f}".format(y))
# Why is that? Convertion from decimal format to binary format!

0.10000000000000001
0.10000000000000001

In [1]:
# Guess what will we get?

print(0.1 + 0.1 == 0.2)
print(0.1 + 0.2 == 0.3)

print("{0:.17f}".format(0.1))
print("{0:.17f}".format(0.2))
print("{0:.17f}".format(0.3))

True
False
0.10000000000000001
0.20000000000000001
0.29999999999999999

In [39]:
# What are we supposed to do with comparing the floating point numbers?
print(abs(0.3 - 0.1 - 0.2) <= 1e-17)
print(abs(0.3 - 0.1 - 0.2) <= 1e-10)

False
True

# String: str()

In [3]:
message = "Hello World!"
print(type(message))
# funcition len() to get the number of letters in the string
len(message)
# upper() to transform letters to upper-case; lower() to transform letters to lower-case
print(message.upper())
print(message.lower())
# capitalize()
print(message.capitalize())

<class 'str'>
HELLO WORLD!
hello world!
Hello world!

In [51]:
# Special use of math operators in string operations.
# "+" can be used to cancatenate two pieces of strings together
message = "Hello World!"
name = "This is John!"
#print(message + name)
#print(message + " " + name)
print(message + str(1) + name)

Hello World!1This is John!

In [55]:
# "*" can be used to cancatenate multiple pieces of strings together
name = "John! "
print(name*2)

John! John!

Dynamically-typed language

In [56]:
x = 1
type(x)

int

In [57]:
x = 1
x = 1.0
type(x)

float

In [58]:
# Question for students
x = None
y = "None"
print(type(x) == type(y)) 
# True or false ?

False

### Individual Assignment: Data type convertion
Use the following functions to achieve data conversion: bool(), str(), int(), float()
Use type() to examine the data types before and after the conversion.

- define variable: x = 1, and then convert x to string type
- define variable: x = 1, and then convert x to float type
- define variable: y = "1.5", and then convert y to float type
- define variable: y = "1.5", and then convert y to an integer type value "1"
- define variables: z1 = "1.5" and z2 = "1.50", and then use bool() to see if z1 == z2 is true of false
- define variables: z1 = "1.5" and z2 = "1.50", then convert them to float, and finally use bool() to see if z1 == z2 is true of false

# Built-In Data Structures

We have seen Python's simple types: ``int``, ``float``, ``None``, ``bool``, ``str``, and so on.
Python also has several built-in compound types, which act as containers for other types.
These compound types are:

| Type Name | Example                   |Description                            |
|-----------|---------------------------|---------------------------------------|
| ``list``  | ``[1, 2, 3]``             | Ordered collection                    |
| ``tuple`` | ``(1, 2, 3)``             | Immutable ordered collection          |
| ``dict``  | ``{'a':1, 'b':2, 'c':3}`` | Unordered (key,value) mapping         |

As you can see, round, square, and curly brackets have distinct meanings when it comes to the type of collection produced.
We'll take a quick tour of these data structures here.

## Lists
Lists are the basic *ordered* and *mutable* data collection type in Python.

In [1]:
L = [2, 3, 5, 7]
# L is ordered
print(L)
# L is mutable, let's change the first element to be 1!
#print(L[1])
#print(type(L[0]))
L[0] = 1
print(L)
L[0] = [1, 2, 3]
print(L)

[2, 3, 5, 7]
[1, 3, 5, 7]
[[1, 2, 3], 3, 5, 7]

In [28]:
# Functions that help gain information from List
# len() can help us get the length of a list 
L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 
     18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 
     34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 
     51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
     68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 
     85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
print(len(L)) # number of items in the list
print(L[1])

99
2

In [2]:
# Be aware of the difference between String and list when applying len()
print(len("String"))
print(len(["String"][0]))

6
1

In [6]:
# append() function can be used to add more items in the List
L = [2, 3, 5, 7] 
print(L)
print(len(L))
L.append("11")
print(L)
print(len(L))
L.insert(0, "11")
print(L)

[2, 3, 5, 7]
4
[2, 3, 5, 7, '11']
5
['11', 2, 3, 5, 7, '11']

In [37]:
# The third function of "+": joining two lists! 
L1 = [2, 3, 5, 7] 
L2 = [2, 3, 5, 7]
L3 = L1 + L2
print(L3)
print(len(L3))

[2, 3, 5, 7, 2, 3, 5, 7]
8

In [12]:
# sort() can help you rank the elements 
#L = [2, 3, 5, 7, 2, 3, 5, 7] 
#L.sort()
#print(L)
S = [7, "5", "0", "John", "DS5220", "Sony Building"]
S.sort()
print(S)

TypeError: '<' not supported between instances of 'str' and 'int'

### List indexing and slicing: accessing to items in a List

In [41]:
L = [2, 3, 5, 7]
print(L[0]) 
print(L[1])

2
3

In [42]:
# What will you get by having L[-1]?
L = [2, 3, 5, 7]
print(L[-1]) 
print(L[-2])

7
5

In [9]:
# colon "i:j" means i=< and <j 
L = [2, 3, 5, 7]
#print(L[0:3]) # 0 =<  <3 
#print(L[1:2])
#print(L[:]) # sample all the indexes
#print(L[:2])
print(L[-3])

3

In [52]:
# what if we have two colons "::"" ?
L = [2, 3, 5, 7]
print(L[::2])
print(L[::3])
print(L[::-1])
#print(L[::-2])

[2, 5]
[2, 7]
[7, 5, 3, 2]

## Tuples
Tuples are similar to lists, but tuples are immutable.

In [56]:
T = (1, 2, 3)
print(T)
type(T)
T1 = 1, 2, 3
print(T1)
type(T1)

(1, 2, 3)
(1, 2, 3)

tuple

In [57]:
# We can also use len() to get the number of items of Tuple
T = (1, 2, 3)
print(len(T))
# Indexing also works!
print(T[0])

3
1

In [11]:
# But tuple is immutable!
T = (1, 2, 3)
#T[0] = 4
#T.append(4)
T.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [17]:
T = ([1,2,3],4,5)
T[0].append(2) 
print(T)

([1, 2, 3, 2], 4, 5)

## Dictionaries
Dictionaries are extremely flexible mappings of keys to values.
They can be created via a list of ``key:value`` pairs within curly braces:

In [61]:
numbers = {'one':1, 'two':2, 'three':3}
print(numbers['two'])

2

In [62]:
# We can define new Key:value pairs in the dictionary
numbers = {'one':1, 'two':2, 'three':3}
numbers['four'] = 4
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [11]:
# The dictionary is mutable!
numbers = {'one':1, 'two':2, 'three':3, 'four': 4}
numbers['four'] = 6
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'four': 6}

In [63]:
numbers = {'one':1, 'two':2, 'three':3, 'four': 4}
numbers['four'] = (6,6,7,8,"DS5220")
print(numbers)

{'one': 1, 'two': 2, 'three': 3, 'four': (6, 6, 7, 8, 'DS5220')}

# Individual assignment: Dictionary for chemical elements C, H, O, and N.


Step1: Create an ``empty dictionary``, named "elements", for containing chemical elements
Step2: The keys involve "carbon", "hydrogen", "oxygen", and "nitrogen"
Step3: For each key, define the value as a list.
Step4: The value list should include the following information 

atomic labels:
C, H, O, N
atomic number:
6, 1, 8, 7
atomic mass:
12, 1, 16, 14

Optional
Step5: Define an input function to take in the name of the element.
Step6: Print the values associated!

True