# String Manipulation
## String manipulation is critical for data science project

### Baisc string definitions, one, two, three quotes

In [2]:
# Doesn't really matter if you use one or two quotes
x = 'a string'
y = "a string"
x == y

True

In [1]:
# triple quotes can define multi-line strings
multiline = """
one
two
three
"""
print(multiline)

one
two
three

## Simple String Manipulation in Python

### Formatting strings: Adjusting case

- ``upper()``
- ``lower()``
- ``capitalize()``
- ``title()``
- ``swapcase()``

In [4]:
name = "JoHn JESSe Nino YiliN AmanDa"
print("Initial string: ", name)
print("upper(): ", name.upper())
print("lower(): ",name.lower())
print("title(): ",name.title())
print("capitalize(): ",name.capitalize())
print("swapcase(): ",name.swapcase())

Initial string:  JoHn JESSe Nino YiliN AmanDa
upper():  JOHN JESSE NINO YILIN AMANDA
lower():  john jesse nino yilin amanda
title():  John Jesse Nino Yilin Amanda
capitalize():  John jesse nino yilin amanda
swapcase():  jOhN jessE nINO yILIn aMANdA

### Formatting strings: adding and removing spaces
- ``strip()`` method

In [ ]:
# Removing blanks on both sides
name = "       JoHn JESSe Nino YiliN AmanDa        "
print(name)
print(name.strip())
#name.rstrip()
#name.lstrip()

In [5]:
# Removing certain characters on both sides
name = "00005406000"
print(name.strip("0"))

5406

In [ ]:
# Adding blanks to position the string properly
line = "John"
print(line.center(30))
print(line.ljust(30))
print(line.rjust(30))

In [ ]:
# Formating to weird shape
for i in range(4,30):
    print("Data".rjust(i)+"Data".rjust(62-2*i))

### Finding and replacing substrings
- ``find()``
- ``index()``
- ``replace()``

In [8]:
name = "JoHn  JESSe Nino YiliN        AmanDa        "
print(name.find("JESSe"))
print(name.find("xyz"))

6
-1

In [ ]:
name = "JoHn  JESSe Nino YiliN        AmanDa        "
print(name)
print(name.replace("JESSe", "Steven"))

In [9]:
num = "3.5"
print(num.replace(".","0"))

'305'

### Splitting and partitioning strings

- ``partition()`` 
- ``split()``

In [10]:
name = "JoHn JESSe Nino YiliN AmanDa"
name.partition("Nino")

('JoHn JESSe ', 'Nino', ' YiliN AmanDa')

In [11]:
# by default, split() search for any white space and separate the element.
name = "JoHn  JESSe Nino YiliN        AmanDa        "
name_list = name.split()
print(name_list)

['JoHn', 'JESSe', 'Nino', 'YiliN', 'AmanDa']

In [18]:
name = """John chemistry
Jesse Data
Nino Data
"""
print(name)
name.split()
#name.splitlines()

John chemistry
Jesse Data
Nino Data

['John', 'chemistry', 'Jesse', 'Data', 'Nino', 'Data']

### Undo the splitting

- ``join()``

In [19]:
# join() will undo what has been done by split()
' '.join(['JoHn', 'JESSe', 'Nino', 'YiliN', 'AmanDa'])

'JoHn JESSe Nino YiliN AmanDa'

### File I O operations: read in strings from external text file.
### - ``open( )`` allows you to open an existing file or to create a new file in Python.
#### - open(filename,'r') read an existing file.
#### - open(filename,'w') write to a new file: be cautious.
#### - open(filename,'a') append new information to an existing file.
### - ``readlines( )`` allows you to convert the content of a text file to a list, in which each element corresponds to a line. 
### - ``write( )`` allows you to write strings to a file.

In [23]:
A = open("data.txt",'r')
lines = A.readlines()
print(lines)
#print(len(lines))
#print(lines[0])
#B = open("new.txt",'w')
#B.write(lines[0])
#B.close()

['1,13,21,11,196,75,4,3,34,6,7,8,0,1,2,3,4,5\n', '3,42,12,33,766,75,4,55,6,4,3,4,5,6,7,0,11,12\n', '1,22,33,11,999,11,2,1,78,0,1,2,9,8,7,1,76,88\n']

## Individual assignment: Getting Data from Text File and Compute the Sum.
## Instruction: Read in numeric data from ``data.txt``, sum the numbers over, and save the sum to a new file called ``sum.txt``
## Hint: ``split(',')`` allows you to split a string to individual elements that are separated by ``,``

In [ ]:
# Example of File I O operation 
A = open("data.txt",'r')
B = open("sum.txt",'w')

# lines is a list of strings with each string storing the text of
# a single line in the data.txt
lines = A.readlines()

# num is an empty list that stores integers taken from the data.txt
num = []

# prepare loop statements to convert lines to a list of 
# integers.

for i in lines:

    
    

B.write("The sum is:"+str(sum(num)))
B.close()

## Individual assignment (string manipulation and I/O File operation):
## How long is a CO2 molecule? Design an atomic ruler. 
## In the file CO2.txt, you will find the structual information (Cartesian cooridnates) about CO2 molecule. You will use the coordinates to estimate the length of the CO2 molecule, which is defined as the distance between two oxygen atoms. 
## Below, you will complete the code for an atomic ruler. You will:
## 1. Open the CO2.txt file using I/O file operation
## 2. Open the CO2.txt file using I/O file operation

In [ ]:
import math
def distance(x,y):
    return math.sqrt((x[0]-y[0])**2+(x[1]-y[1])**2+(x[2]-y[2])**2)

# Step1: Open the file CO2.txt using open() and transform the data to list using readlines()



# Step2: Define a dictionary for C, O1, and O2. split() can be helpful.
D = {}


# Get the distance between O1 and O2

O1_O2 = distance(D['O1'],D['O2']) 

# Write the results to a new file O1_O2.txt, saying "The length of is CO2 molecule is XXX angstrom."

CO2_distance = open('O1_O2.txt','w')
CO2_distance.write("The length of is CO2 molecule is " + str(O1_O2) + " angstrom")
CO2_distance.close()